###### a = 5

In [2]:
a

5

In [3]:
a = 10.5

In [4]:
a

10.5

In [5]:
a+a

21.0

In [6]:
a

10.5

In [16]:
a = a + a

In [17]:
a

320

In [18]:
a = 20

In [19]:
a

20

In [20]:
type(a)

int

In [21]:
a= 30.1

In [22]:
type(a)

float

In [23]:
myIncome = 100
taxRate = 0.1
myTaxes = myIncome * taxRate

In [24]:
myTaxes

10.0

In [25]:
testString = 'Test string for showing string'

In [26]:
testString

'Test string for showing string'

In [27]:
testString[3]

't'

In [28]:
testString[-1]

'g'

Um den letzten Buchstaben eines Strings herauszufinden ist der Index [-1] zu nutzen. Indexing start mit 0!!! -> Indexing
Slicing: testString[start:stop:step] Indexing: testString[n]  Bei Slicing [2:] -> 3. Stelle bis Ende, Slicing does not include the stop mark... It is up to the stop mark... So you have to choose the actual stop mark n with +1 -> n+1 is the position you want

In [31]:
testString[0:4:1]

'Test'

In [32]:
print(testString)

Test string for showing string

In [33]:
print("hello world")
print("hello world2")

hello world
hello world2

Um alles aus mehreren Zeilen anzeigen zu lassen muss print() genutzt werden... Sonst wird nur die letzte Zeile ausgegeben

In [37]:
print("Hello \nworld")

Hello
world

In [38]:
len(testString)

30

len() checks the length of a string

In [39]:
# Lines with # are comments
mystring ='Hello World'

In [41]:
mystring[-1]

'd'

In [42]:
mystring[-2]

'l'

In [44]:
mystring = 'abcdefghiklmnopqrstuvwxyz'

In [45]:
mystring[2:]

'cdefghiklmnopqrstuvwxyz'

In [46]:
mystring[3:6]

'def'

In [47]:
mystring

'abcdefghiklmnopqrstuvwxyz'

In [49]:
 mystring[::]

'abcdefghiklmnopqrstuvwxyz'

In [51]:
mystring = mystring[::-1]

In [52]:
mystring

'zyxwvutsrqponmlkihgfedcba'

Strings are immuatable! You can't edit them.. Like following example string = 'Sam' .... string[0] = 'P' doesn't work!

In [53]:
stringName = 'Sam'

In [56]:
lastLetter= stringName[1:]

In [57]:
lastLetter

'am'

In [58]:
'P' + lastLetter

'Pam'

In [59]:
#Previous example was string concatenation

In [68]:
x = 'Hello world'

In [69]:
x = x + ' it is beautiful outside'

In [70]:
x

'Hello world it is beautiful outside'

In [71]:
letter = 'z'
letter *10

'zzzzzzzzzz'

In [77]:
 x = 'Hi this is a string'

In [73]:
# now when you type x. and hit TAB you can see the methods, which are available on the variable x... some expamples:
x.upper() #all letters capital, no reassignment... DONT FORGET TO PASTE IN ()!

'HELLO WORLD'

In [74]:
x.lower() #all letters lowercased

'hello world'

In [78]:
x.split('i')#Splits the string by whitespace/Letters

['H', ' th', 's ', 's a str', 'ng']

In [79]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [81]:
#.format() message -> 'String here {} then also {}'.format('abc','cde')

In [83]:
print('This is a string {}'.format('inserted by eike'))

This is a string inserted by eike

In [85]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [87]:
#From left to right -> The strings you want to insert are getting indexes starting by 0 to n. 0 - fox, 1 - brown, 2 - quick
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [88]:
#You can use keywords to relate the words you use to similiar keys. Improves the readability
print(' The {q} {b} {f}'.format(f = 'Fox', b ='brown', q='quick'))

 The quick brown Fox

In [89]:
#Float formatting
result = 100/777

In [100]:
result = 104.12345

In [102]:
# {r.width.precision} for adding whitespace with a high width and/or keeping the digits low with 
#.precision and f is for outwritten nummber
print("The result was {r:10.2f}".format(r = result))

The result was     104.12

In [104]:
#formatted strings... start the print() of with a f -> print(f....) 
name = 'Eike'
print(f'Hello, his name is {name}')

Hello, his name is Eike

In [105]:
age = 26

In [106]:
#INDEX NICHT VERGESSEN!!!!
print(f'My Name is {name} and I am {age} old.')

My Name is Eike and I am 26 old.

In [107]:
#Lists: ordered sequences that can hold a variety of object types, use [] brackets -> [1,2,3,4,5], support indexing/slicing
#Lists: can be nested, also have a variety of useful methods
myList = [1,2,3]

In [108]:
myList = ['string',100,10.1]

In [109]:
len(myList)

3

In [112]:
#Indexing and slicing is available because it is ordered aswell!
myList = ['one','two','three']
myList[0]

'one'

In [116]:
anotherList = ['four','five']
newList = myList + anotherList
newList

['one', 'two', 'three', 'four', 'five']

In [118]:
myList[1:]

['two', 'three']

In [119]:
#Lists are mutable!!!
newList[0] = 'CHANGED'

In [120]:
newList

['CHANGED', 'two', 'three', 'four', 'five']

In [122]:
#Add a new item to the end of the list
newList.append('six')

['CHANGED', 'two', 'three', 'four', 'five', 'six', 'six']

In [123]:
newList[6] = 'seven'
newList

['CHANGED', 'two', 'three', 'four', 'five', 'six', 'seven']

In [124]:
#Release an item from the end of the list and returns the removed item
newList.pop()

'seven'

In [125]:
newList

['CHANGED', 'two', 'three', 'four', 'five', 'six']

In [126]:
#Saved the popped item in a variable
popped_item = newList.pop()

In [127]:
popped_item

'six'

In [128]:
#Remove a specific item out of a list. Reverse indexing is working aswell
newList.pop(0)

'CHANGED'

In [130]:
newList = ['a', 'e','x','b','c']
numList = [4,1,8,3]

In [131]:
#Sort alphabetical -> mySortedList = newList.sort() DOESN'T WORK!!! Because it returns nothing!!!
newList.sort()

In [133]:
newList.sort()
mySortedList = newList

In [134]:
#Within seperate sequential steps it works
mySortedList

['a', 'b', 'c', 'e', 'x']

In [137]:
numList.sort()

In [143]:
#Does reverse the current sort!
numList.reverse()

In [144]:
numList

[8, 4, 3, 1]

In [145]:
#How do I index nested lists? Example: [1,1,[1,2]] Answer: myList[2][1]

In [147]:
#Dictionaries: unordered mappings for storing objects, got a key-value pairing instead of ordering
#Allows users to grab objects quickly without knowing indexes {'key1':'value1','key2':'value2'}
#Dictonaries: objects retrieved by key name, unordered and can not be sorted
#Lists: Objects retrieved by location, ordered sequence can be indexed or sliced

In [148]:
#Dictionaries can even hold Lists or other Dicts
myDict = {'key1':'value1','key2':'value2'}

In [150]:
myDict['key1']

'value1'

In [153]:
priceLookup = {'Apple':1.99,'Oranges':0.99,'Milk':2.99}

In [154]:
priceLookup['Apple']

1.99

In [156]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [161]:
d['k3']['insideKey']

100

In [162]:
d['k2'][2]

2

In [163]:
d = {'key1':['a','b','c']}

In [164]:
d

{'key1': ['a', 'b', 'c']}

In [165]:
#Dicts are very flexible
d['key1'][2].upper()

'C'

In [166]:
d = {'k1':100,'k2':200}

In [167]:
d

{'k1': 100, 'k2': 200}

In [169]:
#Add a new keypair to the dict
d['k3'] = 300

In [170]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [171]:
d['k1'] = 'NEW VALUE'

In [172]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [173]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [175]:
#Return all keys/values/items(pair) 
d.keys()
d.values()
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [176]:
#Dictionary AND ordering -> orderreddict

In [177]:
#Tuples: similiar to lists, BUT immutable!!! So you cant reassign elements in a tuple
testTuple = (1,2,3)

In [178]:
testList = [1,2,3]

In [180]:
type(testList)

list

In [184]:
testTuple = ('One', 2)

In [185]:
testTuple[-1]

2

In [186]:
testTuple = ('a','a','b')

In [187]:
#Way less methods available
testTuple.count('a')

2

In [190]:
#Index when b occurs the first time... Later on for-loops for the index locations of the repeated index elements
testTuple.index('b')

2

In [204]:
myString = 'Hello World'
myList = [1,2,3]
myTuple = (4,5,6)
myDict = {'apple':1.99,'banana':0.99}
print(f'This is my {myString} project.')
print(f'It contains Lists: {myList}, Tuples:{myTuple} and Dictionaries with prices of apples amd bananas: {myDict}') # {myDict['apple']}')

This is my Hello World project.
It contains Lists: [1, 2, 3], Tuples:(4, 5, 6) and Dictionaries with prices of apples: {'apple': 1.99, 'banana': 0.99}

In [209]:
#Can't get changed -> immutable... You use it, when you want to get safe on have the right value. (no reassignment) 
myTuple[0] ='NEW'

TypeError: 'tuple' object does not support item assignment

In [208]:
myList

['NEW', 2, 3]

In [210]:
#Sets: unordered collections of unique elements -> There can only be one representative of the same object!
#Like a UNIQUE-Constraint-Column in SQL
mySet = set()

In [220]:
#You can add the same value again, but it will just replace the existing one
mySet.add(2)

In [221]:
mySet

{1, 2}

In [222]:
mySetList = [1,1,1,1,1,1,1,2,2,2,2,2,2,3]

In [223]:
mySetList

[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3]

In [224]:
#Get the unique values out of mySetList created in In[222] 
set(mySetList)

{1, 2, 3}

So till now we learned about: data types and structures. How strings get formatted (i.e. print(f'Test String {myString}'). Also learned about the {} in combination with.format('test') at the end. We used lists [], tuples (), dictionaries {} and sets (set() ). Example call specific value from dictionary: d = {'k1':100,'k2':[1,2,3],'k3':300} d[k1][2]

In [225]:
testStr = ['M','i','s','s','i','s','s','i','p','p','i']

In [226]:
testStr

['M', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [227]:
set(testStr)

{'M', 'i', 'p', 's'}

In [228]:
testStr = 'Mississippi'

In [229]:
testStr

'Mississippi'

In [230]:
set(testStr)

{'M', 'i', 'p', 's'}

In [4]:
#Booleans: True or False statements 
type(False)

bool

In [11]:
testStr.add('x')

NameError: name 'testStr' is not defined

In [12]:
set([1,1,2,3])

{1, 2, 3}

In [13]:
myTestList = [1,2,3,4,5
            ]

In [14]:
myTestList

[1, 2, 3, 4, 5]

In [15]:
myTestTuple = (1,2,3,4,5)

In [16]:
myTestTuple

(1, 2, 3, 4, 5)

In [17]:
myTestDict = {1,2,3,4,5}

In [25]:
myTestDict
#Basic Files: Simple I/O operations with basic .txt/excel/audio

{1, 2, 3, 4, 5}

In [22]:
#IMPORTANT: create a .txt File ONLY in jupyter
%%writefile myTestFile.txt
Hello world, this is a testTextFile
with second line
and third line

Writing myTestFile.txt

In [29]:
#Open the test-file we created
myTestFile = open('myTestFile.txt')

In [31]:
#Errno 2 reasons: wrong filename, wrong file path
myTestFile = open('wrongFileName.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrongFileName.txt'

In [32]:
pwd

'C:\\Users\\eike.saathoff\\git_sync\\Notebooks_Udemy_Eike'

In [53]:
myFile = open('myTestFile.txt')

In [54]:
#Returns the content of the .txt file in one string
testString = myFile.read()

In [55]:
testString

'Hello world, this is a testTextFile\nwith second line\nand third line'

In [56]:
testString.split('\n')

['Hello world, this is a testTextFile', 'with second line', 'and third line']

''